@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Oswald:wght@700&family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Oswald", "Roboto", "Noto Sans TC", sans-serif;
  font-size: 16px;
  letter-spacing: 0.05rem;
}

@layer base {
  h1 {
    @apply font-ch font-bold tracking-wider;
    @apply w-max;
  }
  h2 {
    @apply font-ch font-bold text-2xl tracking-normal;
    @apply w-max;
  }
  a {
    cursor: pointer;
  }
  input[type="checkbox"]:focus,
  input[type="radio"]:focus {
    --tw-ring-color: theme("colors.green.default");
  }
  input[type="text"]:focus,
  input[multiple]:focus,
  textarea:focus,
  select:focus {
    --tw-ring-color: theme("colors.gray.default");
    border-color: theme("colors.gray.default");
    outline: 1px solid transparent;
    outline-offset: 1px;
    border-width: 1px;
  }
}

@layer components {
  .nav-link {
    @apply font-ch font-bold tracking-wide;
    @apply py-1.5 ml-8 w-max relative border-b-2 border-white;
  }
  .content-full {
    height: calc(100vh - theme("height.header"));
    min-height: 700px;
  }
  .btn {
    @apply py-2 px-3.5 rounded drop-shadow-default;
    @apply font-ch font-medium tracking-normal leading-tight;
  }
  .tab-active {
    @apply btn;
    @apply border-2 border-green-default px-3 bg-green-default text-white;
  }
  .tab {
    @apply tab-active;
    @apply bg-white text-green-default font-bold;
  }
  .input-text {
    @apply font-ch tracking-normal font-light;
    @apply border border-gray-light px-3.5 py-1.5 rounded text-black tracking-normal w-full;
  }
  .input-select {
    @apply font-ch tracking-normal font-light;
    @apply border border-gray-light px-3.5 py-1.5 rounded text-black tracking-normal w-full;
  }
  .resultlist {
    @apply w-full overscroll-auto overflow-y-scroll flex flex-col items-start;
    /* height: 56%; */
  }
  .resultlist-item {
    @apply w-full flex items-center py-3.5 px-3 bg-green-bg mb-1;
  }
  .checkbox {
    @apply rounded mr-4 mt-0.5 text-green-default cursor-pointer;
  }
}

@layer utilities {
  @variants focus, hover,group-hover {
    .nav-link-hover {
      @apply border-green-hover transition;
    }
    .btn-black {
      @apply bg-black transition duration-200;
    }
    .btn-green-hover {
      @apply text-white bg-green-hover border-green-hover font-normal transition duration-200;
    }
  }
  .nav-link-active {
    @apply border-green-default;
  }
  .shadow-text {
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
  }
  .shadow-default {
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.25));
  }
  .shadow-deep {
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
  }
}
